:root {
  ---Main-Black: #292929;
  ---Main-White: #fff;
  ---Main-Purple: #993ca6;
  ---Primary-LightGray: #f5f5f5;
  ---Primary-LightPurple: #f5ecf6;
  ---Primary-Gray: #969696;
  ---Secondary-MenuBackground: #171b1e;
  ---Extra-SpicyRed: #ff003d;
  ---Extra-Yellow: #feb941;
}
