# сейчас 3 файла
# .env.main - файл для старого (текущего) фронта, на ветке main. Для использования
# переименовать в .env
# порт на котором работает фронт
FRONT_SERVER_PORT=3100
# хост  на котором работает фронт дев
FRONT_PROD_DOMAIN=localhost
# хост  на котором работает фронт прод
FRONT_DEV_DOMAIN=localhost
# адрес бека
FRONT_API_URL=http://localhost:3101
# приватный ключ google recaptcha
RECAPTCHA_SITE_KEY=6LeIvuskAAAAAFnQi2uLkWp2dvT70lPdSicXWRzZ



# .env.production / .env.development - файлы для нового фронта
FRONT_SERVER_PORT=3100
FRONT_PROD_DOMAIN=localhost
FRONT_DEV_DOMAIN=localhost
FRONT_API_URL=http://localhost:3101
# адрес вебсокета, сейчас не используется, но будет использоваться для получения настроек
WS_URL=wss://localhost:3101
RECAPTCHA_SITE_KEY=6LeIvuskAAAAAFnQi2uLkWp2dvT70lPdSicXWRzZ
# флаг что фронт назвернут на дев сервере (например добавить disallow в robots на тестовом серваке)
IS_DEV_SERVER=true




